body {
	background: rgba(255,165,0,0.9);
	background-image: url(http://webfon.at.ua/_ld/2/241_wood02.jpg);
	padding: 0 30px 20px 30px;
	margin: 0
}
article {
	max-width: 1250px;
	margin: 0 auto;
}
section{
	color: rgb(255,255,255);
	font-family: "Kurale", Arial, Helvetica, sans-serif;
}

.one {
	  background: rgb(139,69,19);
	  padding: 50px 20px;
	  text-align: center;
	  border-radius:10px 10px 10px 10px;
}
.one h1 {
	  font-family: 'Open Sans', sans-serif;
	  position: relative;
	  color: rgb(240, 230, 140);
	  font-size: 3em;
	  font-weight: normal;
	  line-height: 1;
	  padding: 10px 0;
	  margin: 0;
	  display: inline-block;
}
.one h1:before {
	  content: ""; 
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%,-50%);
	  width: 80%;
	  height: 200%;
	  border-radius: 50%/30%;
	  border: 6px solid #F0E68C;
	  border-left-color: transparent;
	  border-right-color: transparent;
}
.btn-group button {
    background-color: #CD853F;
    border: 1px solid braun;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    border-right: none;
    }
.btn-group button:hover {
    background-color: #BC8F8F;
}
h2,h3 {
	font-size: 24px:;
	text-align: center;
	color: rgb(240, 230, 140);
	font-family: 'Open Sans', sans-serif;	
	background-color: rgb(139,69,19);
	border-radius: 10px 10px 10px 10px;
	padding: 20px;
	margin: 42px;
}

.note {
	border 20px solid #fff;
	width:480px;
	height:400 px;
	background-color: rgba(176,196,222,0.8);
	padding: 10px;
	margin: 5px;
	border-radius:10px 10px 10px 10px;
	float:left;
}
.note2 {
	border 20px solid #fff;
	width:640px;
	height:600 px;
	background-image: url(https://webfon.at.ua/_ld/2/245_wood06.jpg);
	padding: 30px;
	margin: 5px;
	border-radius:10px 10px 10px 10px;
   	float:right;
}

#new, #classic, #ten{
	background-color: rgba(176,196,222,0.8);
}
